*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}


.container{
    max-width: 1144px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}
#selected{
    list-style: none;
    color: #30bbd2;
    background-color: #eee;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-right: 20px;
    font-weight: 400;
}


/*header*/
#navbar {
    position: fixed;
    top: -200px; /* Menggeser navbar di luar layar */
    width: 100%;
    transition: top 0.5s; /* Transisi untuk efek tampil/menghilang */
  }
  
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img{
    width: 300px;
    height: auto;
}

.navbar-menu {
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.navbar-menu a{
    color: #eee;
    font-size: 1.2rem;
    margin-right: 20px;
    font-weight: 400;
    align-items: center;
    display: flex;
}
.navbar-menu a:hover{
    color: #9e9a9a;
}

.navbar .social a{
    text-decoration: none;
    color: #ededed;
    font-size: 1.7rem;
    margin-left: 10px;
}

/*main*/
.content img{
    margin-top: 0px;
    width: 100%;
    height: auto;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;

    transition: opacity 0.3s;
}
#floating-button.hide {
    opacity: 0;
  }
  

/*contact*/
#contact{
    width: 100%;
}

.bg{
    background-image: url('upload/bg/1.png');
    background-size: cover;
}

#contact .title{
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}
#contact .title h1{
    padding: 5px 0;
    border-bottom: 2px solid #30bbd2;
}
#contact .title span{
    color: #30bbd2;
}

.box-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*all box wrap*/
.box-wrap{
    height: 30%;
    width: 60%;
}

.box-location{
    display: flex;
    
    height: 400px;
    background-color: #30bbd2;
}
.box-contact{
    background-color: #fff;
    display: flex;
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.contact-list li{
    list-style: none;
    margin-bottom: 10px;
}

.contact-title{
    margin-bottom: 20px;
}

.box-email{
    display: flex;
    width: 35%;
    height: 400px;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
}



/*media queries*/

@media screen and (max-width: 1024px) {
    .container{
        max-width: 900px;
    }
    .row{
        display: inline-block;
    }

}
@media screen and (max-width: 768px) {
    .container{
        max-width: 600px;
    }
    .row{
        display: inline-block;
    }
}
@media screen and (max-width: 476px) {
    .container{
        max-width: 300px;
    }
    .row{
        display: inline-block;
    }
}
