*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}


.container{
    max-width: 1144px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    margin: 1.2rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

#selected{
    list-style: none;
    color: #30bbd2;
    background-color: #eee;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0 20px;
    margin-right: 20px;
    font-weight: 400;
}


/*header*/
.navbar{
    top: 0;
    position: fixed;
    background-color: #30bbd2;
    width: 100%;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img{
    width: 300px;
    height: auto;
}

.navbar-menu {
    padding: 10px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.navbar-menu a{
    color: #ededed;
    font-size: 1.2rem;
    margin-right: 20px;
    align-items: center;
    display: flex;
    height: 50px;
}
.navbar-menu a:hover{
    color: #9e9a9a;
}

.navbar .social a{
    text-decoration: none;
    color: #ededed;
    font-size: 1.7rem;
    margin-left: 10px;
}

.sub-menu{
    position: absolute;
    top: 100%; /* Atur jarak dari elemen yang memicu submenu */
    width: 100%;
    display: none;
    background-color: #ededed;
    z-index: 100;
    transition: .2s ease-in-out;
}

#sub-btn{
    display: grid;
    text-align: center;
}
#sub-btn i{
    font-size: 1.8rem;
}

.sub-menu .container{
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.arrow i{
    font-size: 2rem;
    margin-right: 20px;
}
.sub-item{
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, .3);
    padding: 40px 0;
}
.sub-item a{
    color: #30bbd2;
    
    font-size: 1.2rem;
}

.menu-btn{
    display: none;
}


/*main*/
.content img{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
/*all section*/
section{
    padding-top: 100px;
}

/*about*/
.about{
    width: 100%;
    background-color: #ededed;
}
.about .title{
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}
.about .title h1{
    padding: 5px 0;
    border-bottom: 2px solid #30bbd2;
}
.about .title span{
    color: #30bbd2;
}

.box{
    display: flex;
    justify-content: space-between;
}

.about .box{
    justify-content: flex-start;
}

.box .left{
    max-width: 50%;
    margin-right: 100px;
}
.box .left h2{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}
.box .left p{
    margin-bottom: 1.2rem;
    font-size: 1rem;
}

.box .right img{
    width: 250px;
}

/*all pagination*/
.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pagination a{
    color: black;
    margin-bottom: 50px;
}
.button{
    padding: 13px 40px;
    border-radius: 5px;
    background-color: #fff;
}

/*event*/
.event{
    width: 100%;
    background-image: url('upload/img_1/bg1.jpg');
    background-size: cover;
}

.event .title{
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}
.event .title h1{
    padding: 5px 0;
    border-bottom: 2px solid #30bbd2;
    color: #fff;
}
.event .title span{
    color: #30bbd2;
}

.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.row .box{
    padding: 0 15px;
}
.row .box a{
    color: #9e9a9a; 
}
.row .box h2 a{
    color: #fff;
}
.row .box p{
    color: #fff;
}

.post-title{
    margin-bottom: 15px;
}
.post-date{
    margin-bottom: 15px;
}
.post-content{
    margin-bottom: 15px;
}
.post-link{
    margin-bottom: 15px;
}


/*contact*/
#contact{
    width: 100%;
}

.bg{
    background-image: url('upload/bg/1.png');
    background-size: cover;
}

#contact .title{
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}
#contact .title h1{
    padding: 5px 0;
    border-bottom: 2px solid #30bbd2;
}
#contact .title span{
    color: #30bbd2;
}

.box-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*all box wrap*/
.box-wrap{
    height: 30%;
    width: 60%;
}

.box-location{
    display: flex;
    width: 30%;
    height: 400px;
    background-color: #30bbd2;
}
.box-contact{
    background-color: #fff;
    display: flex;
    width: 40%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.contact-list li{
    list-style: none;
    margin-bottom: 10px;
}

.contact-title{
    margin-bottom: 20px;
}

.box-email{
    display: flex;
    width: 30%;
    height: 400px;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
}


#floating-button-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;

    transition: opacity 0.3s;
}
#floating-button.hide {
    opacity: 0;
  }

/*media queries*/

@media screen and (max-width: 1024px) {
    .container{
        max-width: 900px;
    }
    .row{
        display: inline-block;
    }
    .navbar-menu {
        position: fixed;
        padding: 90px 50px;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        display: block;
        overflow-y: auto;
        background-color: #30bbd2;
        transition: .5s;
        transition-property: right, visibility;
        visibility: hidden;
    }
    .navbar-menu.active{
        right: 0;
        visibility: visible;
    }
    .sub-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        
        background-color: #ededed;
        z-index: 100;
        transition: .2s ease-in-out;
    }
    #sub-btn{
        display: flex;
        text-align: left;
    }
    .sub-item {
        height: 100vh;
        width: 50%;
        line-height: 2;
        display: block;
        padding: 40px 0;
    }
    .close-btn{
        position: absolute;
        background: url(upload/button/close-btn.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
    }
    .menu-btn{
        background: url(upload/button/menu-btn.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        display: block;
        cursor: pointer;
    }

}
@media screen and (max-width: 768px) {
    .container{
        max-width: 600px;
    }
    .row{
        display: inline-block;
    }
    .navbar .logo img{
        width: 200px;
        height: auto;
    }
    
    .box-container{
        display: block;
    }
    #box-wrap{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .container{
        max-width: 500px;
    }
    #about .box{
        display: block;
    }
    .box .left{
        max-width: 100%;
    }
}
@media screen and (max-width: 476px) {
    .container{
        max-width: 400px;
    }
    .row{
        display: inline-block;
    }
    .container .social{
        display: none;
    }
}
